/* You can add global styles to this file, and also import other style files */
$base-background-color: rgb(48, 113, 169);  // #3071a9
$base-background-color-hover: rgb(0, 45, 97);
$base-text-link-color: rgb(48, 113, 169);  // #3071a9
$base-background-panel: rgb(238, 238, 238);
$base-error-color: #da2130;
$base-valid-color: #42a948;
$base-dropdown-menu-color: #012b58;
