<div [formGroup]="languageFilterForm" *ngIf="(languageFilterForm !== undefined)">
  <div fxLayout="column">
    <div fxFlex class="label label-content">Between</div>
    <select #input class="ag-filter-select" formControlName="filterLanguageFrom" (change)="onFilterFromChanged()">
      <option *ngFor="let item of languages" [ngValue]="item.id">{{ item.name }}</option>
    </select>
    <div class="label label-content" fxFlex>and</div>
    <select class="ag-filter-select" formControlName="filterLanguageTo" (change)="onFilterToChanged()">
      <option *ngFor="let item of languages" [ngValue]="item.id">{{ item.name }}</option>
    </select>
    <div [hidden]="languageFilterForm.valid || languageFilterForm.pristine" class="error-message">
      <div *ngIf="languageFilterForm.hasError('compareNotMatch')">From should be different than To language</div>
    </div>
  </div>
  <div class="ag-filter-apply-panel">
    <button type="button" (click)="onApplyClick()" [disabled]="!languageFilterForm.valid">Apply Filter</button>
  </div>
</div>
